# This file should contain lines in the following format
# hostname:port:database:username:password
# Each of the first four fields can be a literal value, or *, which matches anything

*:*:*:{{ pg_user }}:{{ pg_pass }}
